#demo-frame > div.demo { padding: 5px !important; };

button.ui-button-icon-only  {
  height:1.5em;
  width:1.5em;
}

#Ldt-loader {
  background:url(imgs/loader.gif) no-repeat;
  width:20px;
  height:16px;
  float:left;
}

/* general class for all buttons */
.Ldt-button {

}

.Ldt-SegmentsWidget {
 /* overflow: auto; /* clear the floats */
  margin-top: 1px;
  padding-bottom: 8px; /* FIXME: only a temporary fix. This should be put into the layout manager. */
}

.Ldt-iri-chapter {
  position: absolute;
  height: 10px;
  border-right: 1px solid white;
}

.Ldt-SegmentPositionMarker {
  position: absolute;
  z-index: 100;
  width: 1px;
  height: 10px;
  background-color: white;
}
.tooltip {
  display:none;
  background:transparent url(imgs/white_arrow_mini.png);
  font-size:12px;
  height:55px;
  width:180px;
  padding:10px;
  padding-left:15px;
  padding-top:15px;
  padding-right:15px;
  color:#000;
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}
#Ldt-Root{
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}
#Ldt-Hat{
  height:3px;
}

.Ldt-AnnotationsWidget {
  font-size: 12px;
  font-family: "Arial",  "Verdana", "sans-serif";
  background-color:#eeeeee;
  background:url('imgs/wire_pattern.png') repeat scroll transparent ;
  border: 1px solid #b6b8b8;
}

.Ldt-Annotation-DoubleBorder {
  border: 1px solid white;
  overflow: auto;
}

.Ldt-AnnotationContent {
  padding:5px;
  padding-left: 12px;

}

.Ldt-fbShare {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  background:url('imgs/facebook.png');
}

.Ldt-TwShare {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  background:url('imgs/twitter.png');
}

.Ldt-GplusShare {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  background:url('imgs/google.png');
}

.Ldt-SaTitle{
  padding-top:2px;
  padding-bottom:3px;
  font-size: 12pt;
  color : #0068c4;
}

.Ldt-SaDescription{
  font-size:12px;
}

.Ldt-SaKeywords {  
  font-weight:bold;  
  font-size:10px;
}

.Ldt-AnnotationShareIcons {
  float:right;
  position: relative;
}


#Ldt-PlaceHolder{
  position:absolue;
  float:none;
}

.Ldt-Segments{
  float:left;
  font-size: 62.5%;
}

.Ldt-mode-radio{
  visibility:hidden;
  height:0px;
  display:none
}

/* player */
.Ldt-controler {
  font-size: 62.5%;
  font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
  background:url('imgs/player_gradient.png') repeat-x transparent ;
  height: 25px;
  border-top: 1px solid #b6b8b8;
  border-bottom: 1px solid #b6b8b8;
}


.Ldt-LeftPlayerControls {
  float:left;
}

.Ldt-RightPlayerControls {
  float: right;
}

.Ldt-button {
  border-left: 1px solid #b6b8b8;
  float: left;
  cursor: pointer;
 
}

.Ldt-CtrlPlay {
  background:url('imgs/play_sprite.png') no-repeat transparent ;
  background-position: 0 0;
  width: 59px;
  height: 25px;
}

.Ldt-CtrlPlay:hover {
  background-position: 0 -25px;
}

.Ldt-CtrlPlay:active {
  background-position: 0 -50px;
}

.Ldt-CtrlAnnotate {
  background:url('imgs/annotate_sprite.png') no-repeat scroll 0 0 transparent ;
  width: 33px;
  height: 25px;
  border-right: 1px solid #b6b8b8;
  float: left;
}

.Ldt-CtrlAnnotate:hover {
  background-position: 0 -25px;
}

.Ldt-CtrlAnnotate:active {
  background-position: 0 -50px;
}

.Ldt-CtrlSearch {
  background:url('imgs/search_sprite.png') no-repeat scroll 0 0 transparent ;
  width: 33px;
  height: 25px;
  border-right: 1px solid #b6b8b8;
  float: left;
  border-left: none;
}

.Ldt-CtrlSearch:hover {
  background-position: 0 -25px;
}

.Ldt-CtrlSearch:active {
  background-position: 0 -50px;
}

.LdtSearch {
  display: none;
  width: 165px;
  height: 25px;
  border: 1px;
  border-color: #CFCFCF;
  float: left;
  text-align: center;
}

.Ldt-Time {
  position: inherit;
  float: left;
  border-right: 1px solid #b6b8b8;
  height: 25px;
  padding-right: 2px;
  font-size: 12px;
  font-family: Arial, Verdana, sans-serif;
}

.Ldt-ElapsedTime {
  margin-top: 4px;
  margin-right: 2px;
  float: left;
  color: #4a4a4a;
}

.Ldt-TimeSeparator {
  margin-top: 4px;      
  float: left;
  padding-left: 1px;
  padding-right: 1px;
}

.Ldt-TotalTime {
  margin-top: 4px;
  margin-left: 2px;
  float: left;
  color: #b2b2b2; 
}

.Ldt-CtrlSound {
  background:url('imgs/sound_sprite.png') no-repeat scroll 0 0 transparent ;
  width: 33px;
  height: 25px;
  border-right: 1px solid #b6b8b8;
  float: right;
  border-left: none;
}

.Ldt-CtrlSound:hover {
  background-position: 0 -25px;
}

.Ldt-CtrlSound:active {
  background-position: 0 -50px;
}
/*
.Ldt-CtrlSound {
  float: right;
  border-left: none;
  height: 25px;
  top: 7px;
  position: inherit;
}
*/    
.Ldt-cleaner {
  clear:both;
}

/* Arrow Widget */
.Ldt-arrowWidget {
  position: relative;
  background:url('imgs/arrow.png') no-repeat scroll 0 0 transparent ;
  height:16px;
  width:27px;
  margin-bottom: -3px;
  z-index: 4;
  left: 0%;
}

.cleaner {
  clear:both;
}

.share {
  background:url('imgs/widget20.png') no-repeat scroll 0 0 transparent ;
  display:block;
  height:16px;
  line-height:16px !important;
  overflow:hidden;
  width:16px;
  float:left;
  cursor:pointer;
  margin:2px;
}
.shareFacebook{
  background-position:0 -704px;
}
.shareMySpace{
  background-position:0 -736px;
}
.shareTwitter{
  background-position:0 -1072px;
}
.shareGoogle{
  background-position:0 -752px;
}
.shareDelicious{
  background-position:0 -672px;
}
.shareJamesPot{
  background-position:0 -1808px;
}

.tip{
  position: absolute;
  padding : 3px;
  z-index: 10000000000;
  max-width: 200px;
  background: transparent url("imgs/white_arrow_long.png");
  font-size: 12px;
  height: 125px;
  width: 180px;
  padding: 10px;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  color: black;
  font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
  overflow:hidden;
}

/* slider */
.Ldt-SliderMinimized {
  height: 6px;
}

.Ldt-SliderMaximized {
  height: 11px;
}

.Ldt-sliderElementMinimized {
  width: 100%;
  height: 5px;
}

.Ldt-sliderElementMaximized {
  width: 100%;
  height: 10px;
}

.Ldt-sliderBackground  {
  background-color: #B6B8B8;
  position: absolute;
  z-index: 2;
  bottom: 1px;
  width: 100%;
  height: 5px;

}

.Ldt-sliderForeground  {
  background-color: #747474;
  z-index: 2;
  width: 0px;
  position: absolute;
  bottom: 1px;
  height: 5px;
}

.Ldt-sliderPositionMarker {
  position: absolute;
  z-index: 100;
  background-color: #f7268e;
  height: 5px;
  width: 5px;
  bottom: 1px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

/* tweet Widget */
.Ldt-tweetWidget {
  font-size: 12px;
  font-family: "Arial",  "Verdana", "sans-serif";
  background:url('imgs/wire_pattern.png') repeat scroll transparent ;
  border: 1px solid #b6b8b8;
  border-top: none;
  overflow: auto;
}

.Ldt-tweet-DoubleBorder {
  border: 1px solid white;
  padding: 5px;
  overflow: auto;
}

.Ldt-tweetAvatar {
  float: left;
}

.Ldt-tweetAvatar-profileArrow {
  float: left;
  height: 48px;
  margin-left: 5px;
  margin-right: 5px;
  background:url('imgs/profile_arrow.png');
  background-position: 7 10px;
}

.Ldt-tweet_userHandle {
   float: left;
   color: #5c8df1;
}

.Ldt-tweet_realName {
  float: left;
  margin-left: 3px;
}

.Ldt-tweetContents {
}

.Ldt-tweet_date {
  float: left;
}

.Ldt-tweetWidgetKeepOpen {
  position: relative;
  float: right;
  height: 17px;
  width: 17px;
  margin-right: 1px;
  background:url('imgs/minimize.png');
}

.Ldt-tweetWidgetMinimize {
  position: relative;
  float: right;
  height: 17px;
  width: 17px;
  right: 9px;
  background:url('imgs/minimize.png');
}

.Ldt-tweetWidget * a:link {
  color: #729efa;

}

.Ldt-TweetReply {
  float: left;
  margin-left: 16px;
}

.Ldt-TweetReplyIcon {
  background:url('imgs/reply_sprite.png') no-repeat scroll 0 0 transparent ;
  width: 14px;
  height: 11px;
  float: left;
  margin-top: 2px;
}

.Ldt-TweetReplyIcon:hover {
  background-position: 0 -11px;
}

.Ldt-TweetReplyIcon:active {
  background-position: 0 -22px;
}

.Ldt-Retweet {
  float: left;
  margin-left: 16px;
}

.Ldt-RetweetIcon {
  background:url('imgs/retweet_sprite.png') no-repeat scroll 0 0 transparent ;
  width: 14px;
  height: 8px;
  float: left;
  margin-top: 3px;
}

.Ldt-RetweetIcon:hover {
  background-position: 0 -8px;
}

.Ldt-RetweetIcon:active {
  background-position: 0 -16px;
}

/* styling of a "++" in a tweet */
.Ldt-PolemicPlusPlus {
  background-color: #1d973d;
}

/* styling of a "==" in a tweet */
.Ldt-PolemicEqualEqual {
  background-color: #5c8df1
}

/* styling of a "--" in a tweet */
.Ldt-PolemicMinusMinus {
  background-color: #ce0a15;
}

/* styling of a "??" in a tweet */
.Ldt-PolemicQuestion {
  background-color: #c5a62d;
}

/* the styling of a spacer div */
.Ldt-spacer {
  background-color:#eeeeee;
}

/* sparkline widget */
.Ldt-sparklineWidget {
  position: relative;
  margin-bottom: 5px;
}

.Ldt-sparkLinePositionMarker {
  position: absolute;
  top: 0px;
  width: 0px;
  background-color: #333333;
  border-right: solid 1px pink;
  z-index: 3;
  opacity: 0.2;
}

.Ldt-sparkLine {
  position: absolute;
  top: 0px;
}

.Ldt-sparkLineClickOverlay {
  position: absolute;
  width: 640px;
  height: 60px;
  z-index: 4;
  top: 0px;
  opacity: 0.3;
}

.Ldt-sliceWidget {
  position: relative;
  width: 100%;
  height: 25px;
  margin-top: 3px;
}

.Ldt-sliceBackground {
  width: 100%;
  background-color: #b6b8b8;
  height: 12px;
}

.Ldt-sliceZone {
  position: absolute;
  top: 0px;
  background:url('imgs/wire_pattern.png') repeat scroll transparent;
  height: 12px;
  z-index: 2;
}

.Ldt-sliceLeftHandle {
  position: absolute;
  top: 0px;
  height: 25px;
  width: 7px;
  background:url('imgs/left_handle.gif') no-repeat scroll transparent;
  z-index: 2;
}

.Ldt-sliceRightHandle {
  position: absolute;
  top: 0px;
  height: 25px;
  width: 7px;
  background:url('imgs/right_handle.gif') no-repeat scroll transparent;
  z-index: 2;
}

.Ldt-createAnnotationWidget {
  font-size: 12px;
  font-family: "Arial",  "Verdana", "sans-serif";
  background-color:#eeeeee;
  background:url('imgs/wire_pattern.png') repeat scroll transparent ;
  border: 1px solid #b6b8b8;  
}

.Ldt-createAnnotation-DoubleBorder {
  border: 1px solid white;
  overflow: auto;
  padding: 7px;
}

.Ldt-createAnnotation-Title {
  font-size: 12pt;
  color : #0068c4;  
  float: left;
  margin-right: 5px;
}

.Ldt-createAnnotation-TimeFrame {
  font-size: 12pt;
  color : #ff5589;  
  float: left;
}

.Ldt-createAnnotation-Container {  
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.Ldt-createAnnotation-userAvatar {  
  width: 48px;
  display: table-cell;
  vertical-align: top;
}

.Ldt-createAnnotation-userAvatar img {  
  display: block;
  border: 1px solid #babcbc;
}

.Ldt-createAnnotation-profileArrow {
  display: table-cell;
  vertical-align: top;
  height: 48px;
  width: 15px;
  padding-right: 5px;
  padding-left: 3px;
  background:url('imgs/profile_arrow.png');
  background-repeat: no-repeat;
  background-position: center;
}

.Ldt-createAnnotation-Description {
  display: table-cell;   
  width: 100%;
  height: 48px;  
  vertical-align: top;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.Ldt-createAnnotation-present-keyword {
  border: 1px solid #ffffff;
  background-color: #217bcb;
  color: #ffffff;
  padding: 3px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
}

.Ldt-createAnnotation-absent-keyword {
  border: 1px solid #ffffff;
  background-color: #d93c71;
  color: #ffffff;
  padding: 3px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
}

.Ldt-createAnnotation-submitButton {
  float: right;
  background-color: #d93c71;
  color: #ffffff;
  cursor: pointer;
  background-image: url('imgs/submit_annotation.png');
  background-repeat: no-repeat;
  height: 48px;
  width: 48px;
  position: relative;
  margin-top: 3px;
}

.Ldt-createAnnotation-endScreen {
  background-color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #d6d6d6;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  color : #f7268e;
  text-align: center;
}

.Ldt-createAnnotation-errorMessage {
  color: #D93C71;
}

.Ldt-createAnnotation-Minimize {
  position: relative;
  float: right;
  height: 17px;
  width: 17px;
  right: 0px;
  background:url('imgs/minimize.png');
}

/* polemic tweet annotation buttons */
.Ldt-createAnnotation-polemics {
  padding-top: 2px;
}

.Ldt-createAnnotation-polemic-button {
  margin: 0;
  border: 0;
  padding: 0;
  margin-right: 2px;
  width: 38px;
  height: 26px;
  text-indent: -999px;
  background: url(imgs/polemic_buttons_sprite.png);
}

.Ldt-createAnnotation-polemic-positive:hover {
    background-position: 0 -26px;
}
.Ldt-createAnnotation-polemic-positive.Ldt-createAnnotation-polemic-active {
    background-position: 0 -52px;
}

.Ldt-createAnnotation-polemic-negative {
    background-position: -38px 0;
}
.Ldt-createAnnotation-polemic-negative:hover {
    background-position: -38px -26px;
}
.Ldt-createAnnotation-polemic-negative.Ldt-createAnnotation-polemic-active {
    background-position: -38px -52px;
}

.Ldt-createAnnotation-polemic-reference {
    background-position: -76px 0;
}
.Ldt-createAnnotation-polemic-reference:hover {
    background-position: -76px -26px;
}
.Ldt-createAnnotation-polemic-reference.Ldt-createAnnotation-polemic-active {
    background-position: -76px -52px;
}

.Ldt-createAnnotation-polemic-question {
    background-position: -114px 0;
}
.Ldt-createAnnotation-polemic-question:hover {
    background-position: -114px -26px;
}
.Ldt-createAnnotation-polemic-question.Ldt-createAnnotation-polemic-active {
    background-position: -114px -52px;
}
/* AnnotationsListWidget */

.Ldt-AnnotationsListWidget {
  font-size: 12px;
  font-family: "Arial",  "Verdana", "sans-serif";
  border: 1px solid #b6b8b8;
  overflow: auto;
  max-height: 480px;
}

.Ldt-AnnotationsListWidget ul {
  padding: 5px;
}

.Ldt-AnnotationsListWidget li {
  list-style-type: none;
  cursor: pointer;
  display: table-row;
  padding-top: 2px;
  height: 64px;
}

.Ldt-AnnotationsListWidget li:hover {
  background-color: #e9e9e9;
}

.Ldt-AnnotationsListWidget li a {
  text-decoration: none;
}

.Ldt-AnnotationsList-Caption {
  float: left;
  display: table-cell;
  vertical-align: middle;  
}

.Ldt-AnnotationsList-Duration {  
  color : #f7268e;  
  float: right;
  text-align: left;
  width: 120px;
}

.Ldt-AnnotationsList-Title {
  color: #0068c4;
  font-size: 13px;
  display: table-cell;
  width: 80%;
}

/* Tagcloud */

.Ldt-TagCloud {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
}

.Ldt-TagCloud ul {
    list-style: none; padding: 0; margin: 5px; text-align: center;
}

.Ldt-TagCloud li {
    display: inline-block; margin: 2px; cursor:pointer; cursor:hand;
}

.Ldt-TagCloud li:hover {
    color: #0099ff;
}

.Ldt-TagCloud-actif {
    color: #c000c0;
}
